Source/Picking.Mobile/Web References/PickingService/PickingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dred-msi/PickingService/PickingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PickingService" />
  <xs:element name="GetPickingSlip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPickingSlipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PickingService" minOccurs="0" name="GetPickingSlipResult" nillable="true" type="q1:PickingSlip" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>