Source/Picking.Mobile/Web References/PickingService/PickingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PickingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PickingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PickingSlip">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfInventoryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PickingSlip" nillable="true" type="tns:PickingSlip" />
  <xs:complexType name="ArrayOfInventoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventoryItem" nillable="true" type="tns:InventoryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventoryItem" nillable="true" type="tns:ArrayOfInventoryItem" />
  <xs:complexType name="InventoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventoryItem" nillable="true" type="tns:InventoryItem" />
</xs:schema>